.input::placeholder {
    font-size: 20px;
    color: white;
    opacity: .5;
}

.input {
    background-color: transparent;
    font-size: 20px;
    color: white;
    padding-bottom: 8px;
}

form .input:focus {
    background: transparent;
    color: white;
}